# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


gtest_demo/build/
gtest_demo/product/

algo_training/build/
algo_training/product/

asan_demo/build/
asan_demo/product/

std_container_test/build/
std_container_test/product/

redis_plus_plus_demo/build/
redis_plus_plus_demo/product/

redis_plus_plus_asyn_demo/build/
redis_plus_plus_asyn_demo/product/

grammar_training/build/
grammar_training/product/

ananas_demo/build/
ananas_demo/product/

protobuf_demo/build/
protobuf_demo/product/